#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.arrow {
  width: 0;
  height: 0;
  cursor: pointer;
  transition: filter 200ms;
}

.arrow:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa);
}

.arrow-up {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #646cffaa;
}

.arrow-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #646cffaa;
}

.arrow-left {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid #646cffaa;
}

.arrow-right {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #646cffaa;
}

/* src/LidarMap.css */

.lidar-map {
  border: 2px solid #444;
  background: #111;
  margin: 1rem auto;
  display: block;
}

.free-point {
  fill: #0f0;
  /* green */
}

.blocked-point {
  fill: #f00;
  /* red */
}